.footerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    width: 340px;
    height: 73px;
    z-index:1;
}

.footerNav__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 56px;
}

.footerNav__item-img-profile{
    height: 34px;
    width: 25px;
}

.footerNav__item-img-home{
    height: 32px;
    width: 32px;
}

.footerNav__item-img-calender{
    height: 34px;
    width: 34px;
}

.footerNav__item-img-records{
    height: 30px;
    width: 30px;
}

.footerNav__item-text{
    margin:0px;
    padding: 0px;
    font-size: 12px;
    color: #495057;
    font-weight: 100;
}