.MedicalRecordDates{
    width:300px;
    padding:30px;
  }
  
.MedicalRecordDates-greet{
      display: flex;
      width: 225px;
      height: 55px;
  }
  
.MedicalRecordDates-greet-img{
      width: 55px;
      height: 55px;
  }
  
.MedicalRecordDates-greet-text{
      width: 155px;
      height: 55px;
      padding: 5px;
  }
  
.MedicalRecordDates-greet-text-h1{
      text-align: left;
      font-size: 20px;
      margin:0px;
      padding:0px;
  }
  
.MedicalRecordDates-greet-text-p{
      font-size: 16px;
      text-align: left;
      margin:0px;
      padding:0px;
}
  
.MedicalRecordDates-search{
      padding-top: 20px;
      padding-bottom: 20px;
}
  
.MedicalRecordDates-search-input{
      all: unset;
      width: 300px;
      height: 46px;
      border: 1px solid #516BFF;
      border-radius: 10px;
      padding:0px;
}
  
.MedicalRecordDates-record{
      box-shadow: -4px 7px 18px 0px #9f9d9d;
      background-color:white;
      border-radius: 10px;
      border-left: 3px solid #516BFF;
      padding: 10px;
      padding-top: 20px;
      height: 115px;
      margin-top:10px;
}
  
.MedicalRecordDates-record-date{
    display: flex;
    justify-content: space-between;
      text-align: left;
      text-align: left;
    font-size: 8px;
    color: #1C274C;
    font-weight: 500;
    margin:0px;
    padding:0px;
}
  
.MedicalRecordDates-record-date-img{
      width: 10px;
      height: 10px;
      padding-right: 5px;
}

.MedicalRecordDates-record-name{
      text-align: left;
      color: #516BFF;
      font-size: 13px;
      margin:0px;
      padding:0px;
}

.MedicalRecordDates-record-location{
    text-align: left;
      color:black;
      font-size: 10px;
      margin:0px;
      padding:0px;
}
  
.MedicalRecordDates-add-record{
      display: flex;
      justify-content: right;
}
  
.MedicalRecordDates-add-record-img{
      width: 50px;
      height: 50px;
}

.MedicalRecordDates-record-docotor{
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 8px;
      color: #000000;
      font-weight: 100;
      margin:0px;
      padding:0px;
}
.MedicalRecordDates-record-docotor-img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.MedicalRecordDates-record-docotor-name{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin:0px;
    padding:0px;
}